
		
			html{
	                background: url('../Images/temporada.jpg');
	                background-size: cover;
                }

           

            #header_form
            {

	             padding:5px;
	             font-size:medium;
	             border: 1px solid #000000;
	             margin:1%;
            }

            #botonsillo
            {
	            
							background:#cc9;
							font-family:Arial, Helvetica, sans-serif;
							font-size:12px;
							margin: 0;

            }

						#cuerpo_login
						{
							background-color:#BF00FF;
							box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
							-webkit-border-radius:5px;
   					  -moz-border-radius:10px;
    					 border-radius:10px;
						}

						#registrar
						{
							float:left;
							width:80%;
							font-size:24px;
							font-weight:bold;
							color:#FFF;
							text-align:right;
						}

						#envoltura
						{
							position:absolute;
							left:50%;
							top:50%;
							margin-left:-165px;
							margin-top: -210px;
							width: 330px;
 
						}

						#contenedor
						{
							background-color:#BF00FF;
							box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
							-webkit-border-radius:5px;
							-moz-border-radius:10px;
							border-radius:10px;
						}

						#cabecera
						{
							/*linea que separa logo*/
							border-bottom: 5px solid #333;
							padding-top: 5px;
							background-image: url('images/user.png');
							height:70px;
							line-height:50px;
							text-align:center;
						}

						#cuerpo
						{
							background:#ececec;
							border:solid #ccc;
							border-width: 2px 0;
							padding:15px 35px;
						}

						#labelogin
						{
							color: #666;
							font-weight: bold
						}

						input
						{
							border-radius:5px; 
							box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
							font:bold 12px Arial, Helvetica, sans-serif;
							height: 24px;
							line-height: 20px;
							padding:0 2px;
							width: 230px;
						}


						#pie
						{
							border-top: 5px solid #333;
							color: #fff;
							font-size: 11px;
							height: 25px;
							line-height: 24px;
							text-align: center;
						}

					#cajaregis 
					{
						padding-top: 30px;
					}

					#regis 
					{
						font:bold 30px Arial, Helvetica, sans-serif;
						box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
						border-radius:5px; 
						background-color:#BF00FF;
					}
